	<!-- como no tiene los atributos html, me ocpo d traer los partials que me trae las etieuqtas de ejs y le pasamos la ruta donde esta el arhcivo -->

    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<h2 class="col-12"> 
				<form action="/users/edit-profile/ <%= usuario.id  %>" method="POST">
					<input name="usuario" value="<%= usuario.usuario%>">
					<input name="email" value="<%= usuario.email %>">
					<input name="birthdate" value="<%= usuario.birthdate %>">
					<input name="dni" value="<%= usuario.dni %>">
					<input type="submit" value="Guardar cambios realizados">

				</form>
			</h2>

<%- include('./partials/footer.ejs') %>
