	<!-- como no tiene los atributos html, me ocpo d traer los partials que me trae las etieuqtas de ejs y le pasamos la ruta donde esta el arhcivo -->
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>


	<!-- Banner -->
	<div class="banner">
		<img src="/images/" alt="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i=0; i<productos.length; i++) {%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/detail">
						<figure class="product-box_image">
							<img src= <%= productos[i].imagen %> alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[i].nombreProducto %></h2>
							<p><%= productos[i].descripcion %> </p>
							<p>Comentarios: <%= productos[i].comentarios.length %></p>

						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
			
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<% for (let i=0; i<productos.length; i++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detail">
							<figure class="product-box_image">
								<img src= <%= productos[i].imagen %> alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombreProducto %></h2>
								<p><%= productos[i].descripcion %> </p>
								<p>Comentarios: <%= productos[i].comentarios.length %></p>
	
							</article>
						</a>
					</section>
				</div>
				<% } %>
		</div>
	</div>
</main>
<%- include('./partials/footer.ejs') %>

	<!-- /Más comentados -->

