
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi producto</h2>
        </div>
        <h2 class="col-12"> 
            <form action="/productos/updateProd/<%= id%>" method="POST">
                <input type= "text" name="nombre" value="" placeholder="<%= nombre %>">
                <input type= "text" name="descrpicion" value="" placeholder="<%= descripcion %>">
                <input type= "text" name="img_url" value="" placeholder="<%= img_url%>">
                <input type="submit" value="Guardar cambios realizados">

            </form>
        </h2>

<%- include('./partials/footer.ejs') %>