<!DOCTYPE html>
<html lang="es"> 
 <!-- Include Head -->
 <%- include('./partials/head.ejs') %>

	<body>
		<!-- Header -->
		  <%- include('./partials/header.ejs') %>
			<!-- /Header -->
 
			<!-- product detail -->

			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<p class="products-title"><%= producto.nombre %></p>
					<p class="product-detail-description">
						<a href="/productos/productosAdd">Agregar un producto</a>
					</p>
					<p class="product-detail-description">
						<a href="/users/profile">
							<%= producto.usuarios.usuario %>
						</a>
					</p>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src=<%= producto.img_url%>" alt="" class="product-detail-img">
							<p class="product-detail-description"><%= producto.descripcion%></p>
						</article>
						<% for( let i=0; i < 1; i++ ) { %>
							<div class="col-12 col-lg-4">

							   <section class="comments">
								<% for( let index = 0; index <  producto.comentarios.length; index++ ) { %>

								   <article>
									   <div class="data">
										   <p class="user">
											   <strong> 
												   <a href="/users/profile">
													   <%=producto.comentarios[i].usuario %>
												   </a> 
											   </strong>
												<p><%= producto.comentarios[i].texto%> </p>

										   </p>
									   </div>
									</article>
									<% } %>
			
								</section>
								<section>
									
									<form class="form" action="/productos/detail" method="get">
										<input class="form-input" type="text" value="" placeholder="Agregar comentario">
										<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
									</form>

								</section>
							</div>		
						<% } %>

								
							
							 </div>
							
					</div>
				</div>
			</div>
			<!-- /product detail -->



	</body>
	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
		<!-- /footer -->

</html>