<!DOCTYPE html>
<html lang="es"> 
 <!-- Include Head -->
 <%- include('./partials/head.ejs') %>

	<body>
		<!-- Header -->
		  <%- include('./partials/header.ejs') %>
			<!-- /Header -->
 
			<!-- product detail -->

			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<p class="products-title"><%= producto.nombre %></p>
					<p class="product-detail-description">
						<a href="/users/profile/<%= producto.usuarios.id %>">
							Usuario: <%= producto.usuarios.usuario %>
						</a>
					</p>
					<p class="product-detail-description">
						<h2 class="col-12"> 
							<% if (usuarioLogueado && user.id == producto.usuarios.id){ %>
							<form action="/productos/product-edit/<%= producto.id  %>" method="get">
								<input type="submit" value="Editar producto">
							</form>
							<form action="/productos/deleteProd" method="POST">
								<input type="submit" value="Eliminar producto">
							</form>
							<% } %>
						</h2>
			
						<!-- <a href="/productos/product-edit">
							Editar producto
						</a> -->
					</p>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src=<%= producto.img_url%>" alt="" class="product-detail-img">
							<p class="product-detail-description"><%= producto.descripcion%></p>
						</article>
						<% for( let i=0; i < 1; i++ ) { %>
							<div class="col-12 col-lg-4">

							   <section class="comments">
								<% for( let index = 0; index < producto.comentarios.length; index++ ) { %>

								   <article>
									   <div class="data">
										   <p class="user">
											   <strong> 
												   <a href="/users/profile/<%= producto.comentarios[index].usuarios.id %>">
													   <%= producto.comentarios[index].usuarios.usuario %>
												   </a> 
											   </strong>
												<p><%= producto.comentarios[index].texto%> </p>

										   </p>
									   </div>
									</article>
									<% } %>
			
								</section>
								<section>
									
									<form class="form" action="/productos/product/<%= producto.id %>" method="post">
										<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
										<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
									</form>

								</section>
							</div>		
						<% } %>

								
							
							 </div>
							
					</div>
				</div>
			</div>
			<!-- /product detail -->



	</body>
	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
		<!-- /footer -->

</html>