
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>


	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<!-- <div class="img-container offset-3 col-2">
				<img src=" alt="foto de perfil" class="foto-perfil">
			</div> -->
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=usuario.usuario%>	
						<a href="/users/edit-profile/">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= usuario.email %></li>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>Comentarios></li>
					</ul>
				</div>
	
			</div>
		</div>
	</section>
	<!-- Borrar cuenta -->
	<form action="/users/delete/" method="POST">
		<input type="submit" name="" value="BORRAR CUENTA">
	</form>

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for (let i=0; i<8; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detail">
							<figure class="product-box_image">
								<img src="<%=productos[i].imagen%>" alt="imagen producto">
							</figure>
							<article class="product-box_data">
								<h2><%=productos[i].nombreProducto%></h2>
								<p><%=productos[i].descripcion%></p>
								<p>Comentarios: <%= productos[i].comentarios.length %></p>
								</article>
								
						</a>
					</section>
				</div>
			<% } %>
			



<%- include('./partials/footer.ejs') %>
