<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<p> <%= productos[1].nombreProducto %></p>
			<a href="/productos/detail">
				<img src="<%= productos[1].imagen %>" alt="">
				<p><%= productos[1].descripcion %></p>
			</a>

			<h2 class="col-12"> 

			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
</body>

</html>